{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <!-- Contenedor del post -->
  <div class="card shadow-sm border-0 p-4">
    <!-- Título del post -->
    <h1 class="text-center mb-4" style="font-family: 'Footlight MT Pro', serif; font-weight: bold; color: #343a40;">
      {{ post.title }}
    </h1>
    <!-- Contenido del post -->
    <p class="fs-5" style="font-family: 'Footlight MT Pro', serif; line-height: 1.8; color: #555555;">
      {{ post.content }}
    </p>
    <div id="carousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ post.cover.url }}" class="d-block w-100" alt="...">
        </div>
        {% for image in post_images %}
        <div class="carousel-item">
          <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
{% endblock %}